/*pagina do rafting*/


:root {
  --cor-primaria: #055a05; /* verde-floresta */
  --cor-destaque1: #183946; /* azul-escuro acinzentado */
  --cor-destaque2: #e9c46a; /* amarelo-claro dourado */
  --fonte-titulo: "Times New Roman", "Georgia", serif;
  --fonte-body: Arial, Helvetica, sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fonte-body);
  color: var(--cor-destaque1);
}

header {
  background-color: var(--cor-primaria);
  color: var(--cor-destaque2);
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}

nav li {
  flex: 1 1 auto;
}

nav a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}



p {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #bed;
    max-width: 400px;
}

devtools-btn:hover {
    background-color: #4a5a6a;
}

#devtools-btn:active {
    background-color: #2a3a4a;
}

main {
  grid-column: 2/3;
  margin: 1rem;
}
    
aside {
  width: 20rem;
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
}

header,
main,
footer { 
  width: 840px;
  margin: 0 auto;
}

h1,
h2 {
  font-family: var(--fonte-titulo);
  color: var(--cor-primaria);
  text-align: center;
}

nav,
p,
section,
article {
  margin: 16px;
  padding: 8px;
}

section {
  display: flex;
}

.redes-sociais a {
    text-decoration: none;
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
  color: #fff;
  background-color: rgba(0,0,0,0.5);
  padding: 1rem;
}

.hero article {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: rgba(255,255,255,0.7);
  padding: 1rem;
}


.hero article img {
  float: right;
  width: 125px;
}


.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


figure {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 220px;
  margin: auto;
}

img {
  max-width: 220px;
  max-height: 150px;
}

figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}


button:first-child {
  align-self: flex-end;
}

article {
  flex: 1  200px;
}

article:nth-of-type(3) {
  flex: 3 200px;
  display: flex;
  flex-flow: column;
}

div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


article:nth-of-type(3) div:first-child {
  flex: 1 100px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}




/* teste */